body {
        font-size: 15px;
     }
     
#para {
			color: black;
			border-color: black;
			border-width: 1px;
			border-style: solid;
			background-color: #a0cece;
			float: right;
		
￼￼￼￼}
#input {
	color: red;
	
	}
	
.sth {
	color: yellow;
	}
